<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web UI Components - Input Text</title>
    <link rel="stylesheet" href="../assets/css/custom-inputs.css">
</head>

<body>
    <header>
        <h2>Input Text</h2>
    </header>

    <section>
        <h3>Label overlapping</h3>
        
        <div class="input-label-overlapping">
            <label for="label-overlapping">Label overlaping</label>
            <input type="text" name="" id="label-overlapping">
        </div>
    </section>
</body>

</html>